pytest
nbconvert
Jinja2<3.0.0  # https://github.com/jupyter/nbconvert/issues/1568 
PySDM @ git+https://github.com/atmos-cloud-sim-uj/PySDM@9ea6e18#egg=PySDM
PyMPDATA @ git+https://github.com/atmos-cloud-sim-uj/PyMPDATA@e70e077#egg=PyMPDATA
