pytest
nbconvert
jsonschema==3.2.0  # https://github.com/jupyter/nbformat/issues/232
Jinja2<3.0.0  # https://github.com/jupyter/nbconvert/issues/1568

PySDM @ git+https://github.com/atmos-cloud-sim-uj/PySDM@70ff20b#egg=PySDM
PyMPDATA @ git+https://github.com/atmos-cloud-sim-uj/PyMPDATA@4d85f3c#egg=PyMPDATA
